/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#page{
    background-color: bisque;
    width: 960px; 
    margin: 0 auto;
    height: 100%;
    padding-bottom: 150px;
    
    
}
#navigation{
    height: 65px;
    background-color: #2C3E50;
    border-radius: 7px 7px 7px 7px;
}
#navigation>ul>li{
    float: left;
    position: relative;
}

#navigation ul li a{
    color: floralwhite;
    text-decoration: none;
    display: block;
    font-family: "Cuprum" , sans-serif;
    height: 65;
    padding: 0 15px;
    line-height: 65px;
 
}

.k{
    border-radius: 0px 0px 7px 7px;
}

.noli{
    border-radius: 7px 0px 0px 7px;
}

#navigation ul li a:hover{
    text-decoration: underline;
    background-color: rgba(118, 222, 170, 0.88);   
}

#navigation .down{
    position: absolute;
    width: 150px;
    background: #2C3E50;
    display: none;
    border-radius: 0px 0px 7px 7px;
}

#navigation li:hover .down{
    display: block;
}


#navigation .down li{
    height: 45px;
    width: 100%;
}

#navigation .down a{
    line-height: 45px;
    height: 45px;
}